@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 25, 0.9), rgba(0, 0, 25, 0.9)),
    url(https://images.unsplash.com/photo-1493655430214-3dd7718460bb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80);
  background-size: cover;
  background-position: fixed;
  position: relative;
  overflow: hidden;
  color: #fff;
}

.hero h1 {
  font-size: 120px;
  font-weight: 600;
  position: relative;
  z-index: 2;
}

#focus {
  position: absolute;
  width: 280px;
  height: 280px;
  z-index: 1;
  background: url(https://images.unsplash.com/photo-1493655430214-3dd7718460bb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-radius: 50%;
  top: calc(50% - 140px);
  left: calc(50% - 140px);
  z-index: 1;
}
